<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.system.sysAutoTem.dao.SysAutoTemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.system.sysAutoTem.entity.SysAutoTem">
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="id" property="id" />
        <result column="update_time" property="updateTime" />
        <result column="tem_name" property="temName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
create_time,create_user,update_user,id,update_time,tem_name    </sql>

    <select id="queryByCondition" parameterType="com.dhlg.module.system.sysAutoTem.entity.SysAutoTem" 
    resultType="com.dhlg.module.system.sysAutoTem.entity.SysAutoTem">
        select *
        from sys_auto_tem t
        <trim prefix="where" prefixOverrides="and">
            <if test="params.temName != null and params.temName !=''">
                and t.tem_name like concat('%',#{params.temName},'%')
            </if>
        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from sys_auto_tem
    </select>

</mapper>
