<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.system.sysTable.dao.SysTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.system.sysTable.entity.SysTable">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="parent_id" property="parentId" />
        <result column="table_name" property="tableName" />
        <result column="table_remark" property="tableRemark" />
        <result column="table_type" property="tableType" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                create_time,                create_user,                id,                parent_id,                table_name,                table_remark,                table_type,                update_time,                update_user    </sql>

    <select id="queryByCondition" parameterType="com.dhlg.common.utils.Parameter.Parameter" resultType="com.dhlg.module.system.sysTable.entity.SysTable">
        select * from sys_table
        <trim prefix="where" prefixOverrides="and">
            <if test="parameter.condition != null and parameter.condition.queryContent !=null and parameter.condition.queryContent !='' ">
                CONCAT(
                            ,create_user
                            ,parent_id
                            ,table_name
                            ,table_remark
                            ,table_type
                            ,update_user
                ) like concat('%',#{parameter.condition.queryContent},'%')
            </if>
        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">

        select * from sys_table
        <trim prefix="where" prefixOverrides="and">

                        <if test="parameter.createTime != null and parameter.createTime .size() == 2">
                            and create_time between
                            <foreach collection="parameter.createTime" index="index" item="item" open=" " separator=" and " close=" ">
                                #{item}
                            </foreach>
                        </if>



                    <if test="parameter.createUser  != null and parameter.createUser.size() > 0">
                        and create_user  in
                        <foreach collection="parameter.createUser " index="index" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>



                    <if test="parameter.parentId  != null and parameter.parentId.size() > 0">
                        and parent_id  in
                        <foreach collection="parameter.parentId " index="index" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>


                    <if test=" parameter.tableName !=null and parameter.tableName !='' ">
                        and table_name like concat('%',#{parameter.tableName},'%')
                    </if>


                    <if test=" parameter.tableRemark !=null and parameter.tableRemark !='' ">
                        and table_remark like concat('%',#{parameter.tableRemark},'%')
                    </if>


                    <if test="parameter.tableType  != null and parameter.tableType.size() > 0">
                        and table_type  in
                        <foreach collection="parameter.tableType " index="index" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>


                        <if test="parameter.updateTime != null and parameter.updateTime .size() == 2">
                            and update_time between
                            <foreach collection="parameter.updateTime" index="index" item="item" open=" " separator=" and " close=" ">
                                #{item}
                            </foreach>
                        </if>



                    <if test="parameter.updateUser  != null and parameter.updateUser.size() > 0">
                        and update_user  in
                        <foreach collection="parameter.updateUser " index="index" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>

        </trim>
        order by id desc
    </select>

</mapper>
