<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.test.tProductRecord.dao.TProductRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.test.tProductRecord.entity.TProductRecord">
        <result column="userId" property="userId" />
        <result column="productNo" property="productNo" />
        <result column="id" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
userId,productNo,id    </sql>

    <select id="queryByCondition" parameterType="com.dhlg.module.test.tProductRecord.entity.TProductRecord" 
    resultType="com.dhlg.module.test.tProductRecord.entity.TProductRecord">
        select t.*
        from t_product_record t
        <trim prefix="where" prefixOverrides="and">
        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from t_product_record
    </select>

</mapper>
