<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.system.sysAutoTable.dao.SysAutoTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.system.sysAutoTable.entity.SysAutoTable">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="parent_id" property="parentId" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="table_name" property="tableName" />
        <result column="table_type" property="tableType" />
        <result column="type" property="type" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="is_template" property="isTemplate" />
        <result column="temPlate_name" property="temPlateName" />
        <result column="create_url" property="createUrl" />
        <result column="api_url" property="apiUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                create_time,create_user, field_index,temPlate_name,is_template
        id,parent_id,remark,status,table_name,  table_type, type, update_time,  update_user    </sql>

    <select id="queryByCondition" parameterType="com.dhlg.module.system.sysAutoTable.entity.SysAutoTable"
            resultType="com.dhlg.module.system.sysAutoTable.entity.SysAutoTable">
        select * from sys_auto_table
        <trim prefix="where" prefixOverrides="and">
            <if test="params.isTemplate != null and params.isTemplate !=''">
                and is_template = #{params.isTemplate}
            </if>
            <if test="params.temPlateName != null and params.temPlateName !=''">
                and temPlate_name like concat('%',#{params.temPlateName},'%')
            </if>
            <if test="params.tableName != null and params.tableName !=''">
                and table_name like concat('%',#{params.tableName},'%')
            </if>

        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from sys_auto_table
        <trim prefix="where" prefixOverrides="and">

                    <if test="parameter.createTime != null and parameter.createTime .size() == 2">
                            and create_time between
                            <foreach collection="parameter.createTime" index="index" item="item" open=" " separator=" and " close=" ">
                                #{item}
                            </foreach>
                        </if>
                    <if test="parameter.createUser  != null and parameter.createUser.size() > 0">
                        and create_user  in
                        <foreach collection="parameter.createUser " index="index" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>
                    <if test="parameter.parentId  != null and parameter.parentId.size() > 0">
                        and parent_id  in
                        <foreach collection="parameter.parentId " index="index" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>
                    <if test=" parameter.remark !=null and parameter.remark !='' ">
                        and remark like concat('%',#{parameter.remark},'%')
                    </if>
                    <if test=" parameter.status !=null and parameter.status !='' ">
                        and status like concat('%',#{parameter.status},'%')
                    </if>
                    <if test=" parameter.tableName !=null and parameter.tableName !='' ">
                        and table_name like concat('%',#{parameter.tableName},'%')
                    </if>
                    <if test=" parameter.tableType !=null and parameter.tableType !='' ">
                        and table_type like concat('%',#{parameter.tableType},'%')
                    </if>
                    <if test=" parameter.type !=null and parameter.type !='' ">
                        and type like concat('%',#{parameter.type},'%')
                    </if>
                    <if test="parameter.updateTime != null and parameter.updateTime .size() == 2">
                        and update_time between
                        <foreach collection="parameter.updateTime" index="index" item="item" open=" " separator=" and " close=" ">
                            #{item}
                        </foreach>
                    </if>
                    <if test="parameter.updateUser  != null and parameter.updateUser.size() > 0">
                        and update_user  in
                        <foreach collection="parameter.updateUser " index="index" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>

        </trim>
        order by id desc
    </select>

    <select id="existable" parameterType="String" resultType="java.lang.Integer">
        SELECT count(*) FROM INFORMATION_SCHEMA.TABLES where TABLE_NAME = #{tableName} and TABLE_SCHEMA = #{name}
    </select>

    <select id="getDatabaseName" resultType="java.lang.String">
       select database()
    </select>

    <update  id="deleteTable">
        DROP TABLE ${tableName}
    </update >

    <update  id="updateUrl" parameterType="com.dhlg.module.system.sysAutoTable.entity.ProjModel">
        UPDATE sys_auto_table set create_url = #{projModel.createUrl} , api_url = #{projModel.apiUrl} where id = #{projModel.tableId}
    </update >

    <select id="findTable"  resultType="String">
        select table_name from information_schema.tables
    </select>

    <select id="SysAutoField"  resultType="com.dhlg.module.system.sysAutoField.entity.SysAutoField">
        select table_name from information_schema.tables where table_schema=#{v}
    </select>
</mapper>
