/*带查询区域 全局样式*/
.app-container{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 61px;
  height: calc(100% - 61px);
  width: calc(100% - 20px);
  position: relative;
}

/*查询编辑页面 start*/
/* 搜索区域 start*/
.container-query{
  float: left;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0.2,0,0.2);
  background: #fff;
  height: 100px;
  width: 100%;
  min-width: 1100px;
}
.query-scrollbar{
  width: calc(100% - 40px);
  height: 90px;
  padding: 5px 30px;
}
.query-scrollbar .el-form-item{
  width:50%;
  height:40px;
  float:left;
  margin-bottom:2px;
}
.query-scrollbar .el-form-item__content{
  width: 400px;
}
.query-scrollbar .el-form-item__content>div{
  width: 100%;
}
/* 搜索区域 end*/

/* 表格样式 start*/
.container-table{
  float: left;
  width: 100%;
  height: calc(100% - 120px);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 10px 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.common-table-style{
  width: 100%;
  height: calc(100% - 85px);
  margin-top: 10px;
}
/* 表格样式 end*/

/* 分页样式 start*/
.pagination {
  position: absolute;
  bottom: 15px;
  right: 20px;
}
/* 分页样式 end*/

/* 定位弹出框位置 start*/
.showDialog .el-dialog__wrapper {
  position: absolute !important;
}
.showDialog .el-dialog__body{
  padding: 15px 20px;
}
/* 定位弹出框位置 end*/

/*查询编辑页面 end*/
.tree-area .common-header,.table-area .common-header{
  width: 100%;
  height: 30px;
  border-bottom: 1px solid rgb(209, 219, 229);
  background: linear-gradient(to bottom, #fff, #eeeff5);
}

/*左树右表页面 start*/
.common-header-title{
  font-size: 14px;
  color: #333;
  line-height: 29px;
  font-size: #333;
  margin-left: 10px;
  font-weight: bold;
}
/*左区域 start*/
.tree-area{
  height: 90%;
  width: 20%;
  margin-right: 10px;
  float: left;
  border: 1px solid rgb(209, 219, 229);
  background-color: #ffffff;
  box-shadow: rgba(102, 102, 102, 0.2) 1px 2px 1px 0px;
  overflow: hidden;
}
/*左区域 end*/

/*右区域 start*/
.table-area{
  height: 99%;
  width: calc(80% - 16px);
  float: left;
  border: 1px solid rgb(209, 219, 229);
  background-color: #ffffff;
  overflow: hidden;
}
.table-area .treeTable-button{
  width: 100%;
  height: 50px;
}
.table-area .treeTable-button>span{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}
/*右区域 end*/
/*左树右表页面 end*/


/*全表格页面 start*/
.allTable-container{
  width: calc(100% - 40px);
  height: calc(100% - 15px);
  background-color: white;
  border-radius: 5px;
  padding: 5px 20px;
}
.container-btn{
  width: 100%;
  height: 35px;
}
.container-btn .container-btn-left{
  float: left;
}
.container-btn .container-btn-right{
  float: right;
}
.allTable-table-style{
  width: 100%;
  height: calc(100% - 95px);
  margin-top: 10px;
}
.cell .table-head-title{
  font-size: 14px;
  color: #909399;
  text-overflow: ellipsis;
  font-weight: bold;
}
.cell .el-icon-search{
  font-size: 16px;
  color: #909399;
}
.table-head-popover-hr{
  background-color: lightgray;
  height: 1px; 
  border: none; 
  margin-top: 1em;
}
.table-head-popver-button{
  display: flex; 
  justify-content: space-evenly;
}
.table-head-popover-checkBox{
  max-height: 300px; 
  overflow-y: auto;
}
/*全表格页面 end*/


/* 富文本样式 */
.ql-container.ql-snow{
  min-height: 300px!important;
}
.ql-container strong{
  font-weight: bold;
}
.ql-container em{
  font-style: italic;
}

