/*带查询区域 全局样式*/
.app-container{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 61px;
  height: calc(100% - 61px);
  width: calc(100% - 20px);
  display:flex;
  position: relative;
  flex-direction: column;
}
.app-container-tree{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 61px;
  height: calc(100% - 61px);
  width: calc(100% - 20px);
  display:flex;
  position: relative;
}

.container-btn{
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
}
.container-btn .container-btn-left{
  float: left;
}
.container-btn .container-btn-right{
  float: right;
}

/*查询编辑页面 start*/
/* 搜索区域 start*/
.container-query{
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0.2,0,0.2);
  background: #fff;
  width: calc(100% - 62px);
  padding: 5px 30px;
}
.query-area{
  margin-top: 5px;
}
.query-area .el-form-item{
  float: left;
  width: 31%;
  margin-bottom:5px;
  margin-left: 2%;
  height: 35px;
}
.query-area .el-form-item__content{
  min-width: 200px;
  max-width: 90%;
  margin-left: 100px;
  
}
.query-area .el-form-item__content>div{
  width: 100%;
  max-width: 340px;
}
.query-area .el-form-item__label{
  text-align: right;
  float: left;
  width: 100px;
}
/* 搜索区域 end*/

/* 表格样式 start*/
.container-table{
  float: left;
  width: calc(100% - 2px);
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 10px 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}
.common-table-style{
  width: 100%;
  height: calc(100% - 85px);
}
.common-table-style .el-table{
  height: 100%;
}
/* 修改原生table样式 */
.common-table-style .el-table th, .common-table-style .el-table tr{
  height: 4px;
  font-size: 14px;
}
.tab-table .el-table th, .tab-table .el-table tr{
  font-size: 14px;
}
/* 表格样式 end*/

/* 分页样式 start*/
.pagination {
  position: absolute;
  bottom: 15px;
  right: 20px;
}
/* 分页样式 end*/

/* 定位弹出框位置 start*/
.dialog-form{
  width: 100%;
  float: left;
}
/* 解决tab与dialog连用卡死bug*/
.dialog-tab{
  float: left;
  width: 100%;
}
.dialog-button{
  margin-bottom: 10px;
}
.edit-area .el-form-item{
  float: left;
  width: 31%;
  margin-bottom:0px;
  margin-left: 2%;
  min-height: 50px;
}
.edit-area .el-form-item__content{
  min-width: 200px;
  width: 70%;
  margin-left: 100px;
  
}
.edit-area .el-form-item__content>div{
  width: 100%;
}
.edit-area .el-form-item__label{
  text-align: right;
  float: left;
  width: 100px;
}

.show-dialog .el-dialog__wrapper {
  position: absolute !important;
  border-radius: 5px;
  margin-bottom: 10px;
}
.show-dialog .el-dialog__body{
  padding: 15px 20px;
}
.show-dialog  .el-dialog__header{
  padding: 0;
}
.tab-table .el-form-item{
  margin-bottom: 15px;
}
/* 定位弹出框位置 end*/

/*查询编辑页面 end*/
.tree-area .common-header,.table-area .common-header{
  width: 100%;
  height: 30px;
  border-bottom: 1px solid rgb(209, 219, 229);
  background: linear-gradient(to bottom, #fff, #eeeff5);
}

/*左树右表页面 start*/
.common-header-title{
  font-size: 14px;
  color: #333;
  line-height: 29px;
  font-size: #333;
  margin-left: 10px;
  font-weight: bold;
}
/*左区域 start*/
.tree-area{
  height: 90%;
  border: 1px solid rgb(209, 219, 229);
  background-color: #ffffff;
  box-shadow: rgba(102, 102, 102, 0.2) 1px 2px 1px 0px;
  overflow: hidden;
  flex:2;
  min-width: 150px;
}
/*左区域 end*/

/*右区域 start*/
.table-area{
  height: 99%;
  /* width: calc(80% - 16px); */
  flex:9;
  border: 1px solid rgb(209, 219, 229);
  background-color: #ffffff;
  overflow: hidden;
  margin-left: 10px;

}
.table-area .treeTable-button{
  width: 100%;
  height: 50px;
}
.table-area .treeTable-button>span{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}
/*右区域 end*/
/*左树右表页面 end*/


/*全表格页面 start*/
.allTable-container{
  width: calc(100% - 40px);
  height: calc(100% - 15px);
  background-color: white;
  border-radius: 5px;
  padding: 5px 20px;
}
.allTable-table-style{
  width: 100%;
  height: calc(100% - 95px);
  margin-top: 10px;
}
.cell .table-head-title{
  font-size: 14px;
  color: #909399;
  text-overflow: ellipsis;
  font-weight: bold;
}
.cell .el-icon-search{
  font-size: 16px;
  color: #909399;
}
.table-head-popover-hr{
  background-color: lightgray;
  height: 1px; 
  border: none; 
  margin-top: 1em;
}
.table-head-popver-button{
  display: flex; 
  justify-content: space-evenly;
}
.table-head-popover-checkBox{
  max-height: 300px; 
  overflow-y: auto;
}
/*全表格页面 end*/


/* 富文本样式 */
.ql-container.ql-snow{
  min-height: 300px!important;
}
.ql-container strong{
  font-weight: bold;
}
.ql-container em{
  font-style: italic;
}

.editComp-body .el-form-item{
  float: left;
  width:25%;
  height: 32px;
}

.editComp-body  .el-form-item--small.el-form-item{
  margin-bottom: 5px;
}

/* 当窗口小于1000px的时候，两行 */
@media screen and (max-width: 1200px) {
  .query-area .el-form-item{
    width: 48%;
  }
  .edit-area .el-form-item{
    width: 48%;
  }
}

/* 当窗口小于00px的时候，一行 */
@media screen and (max-width: 900px) {
  .query-area .el-form-item{
    width: 90%;
  }
  .edit-area .el-form-item{
    width: 90%;
  }
}