<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.test.templateTree.dao.TemplateTreeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.test.templateTree.entity.TemplateTree">
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="node_depth" property="nodeDepth" />
        <result column="ref_parent_id" property="refParentId" />
        <result column="node_soft" property="nodeSoft" />
        <result column="update_user" property="updateUser" />
        <result column="node_name" property="nodeName" />
        <result column="master_id" property="masterId" />
        <result column="create_user" property="createUser" />
        <result column="node_id" property="nodeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
create_time,update_time,node_depth,ref_parent_id,node_soft,update_user,node_name,master_id,create_user,node_id    </sql>

    <select id="queryByCondition" parameterType="com.dhlg.module.test.templateTree.entity.TemplateTree" 
    resultType="com.dhlg.module.test.templateTree.entity.TemplateTree">
        select t.*
        from template_tree t
        <trim prefix="where" prefixOverrides="and">
            <if test="params.nodeName != null and params.nodeName !=''">
                and t.node_name like concat('%',#{params.nodeName},'%')
            </if>
        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from template_tree
    </select>

</mapper>
