<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.system.phoneModel.dao.PhoneModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.system.phoneModel.entity.PhoneModel">
        <result column="terminal_manufacturer" property="terminalManufacturer" />
        <result column="terminal_name_type" property="terminalNameType" />
        <result column="update_user" property="updateUser" />
        <result column="terminal_number" property="terminalNumber" />
        <result column="create_time" property="createTime" />
        <result column="terminal_name" property="terminalName" />
        <result column="result_type" property="resultType" />
        <result column="create_user" property="createUser" />
        <result column="id" property="id" />
        <result column="terminal_model" property="terminalModel" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
terminal_manufacturer,terminal_name_type,update_user,terminal_number,create_time,terminal_name,result_type,create_user,id,terminal_model,update_time    </sql>

    <select id="queryByCondition" parameterType="com.dhlg.module.system.phoneModel.entity.PhoneModel" 
    resultType="com.dhlg.module.system.phoneModel.entity.PhoneModel">
        select * from phone_model
        <trim prefix="where" prefixOverrides="and">
            <if test="params.terminalModel != null and params.terminalModel !=''">
                and terminal_model like concat('%',#{params.terminalModel},'%')
            </if>
            <if test="params.terminalName != null and params.terminalName !=''">
                and terminal_name like concat('%',#{params.terminalName},'%')
            </if>
        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from phone_model
    </select>

</mapper>
