/* 全局样式 start*/
.app-container {
  height: 100%;
  padding: 10px;
  background-color: #f0f0f0;
}
/* 搜索区域 start*/
.CommSearch{
  padding-top: 10px;
  border-radius: 6px;
  background: #fff;
  padding: 0px 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 60px;
  transition: all 0.3s;
  overflow:auto;
}
/* 搜索框高度 */
.CommHeight {
  height: 36px;
  line-height: 36px;
  text-align: center;
}
/* 左侧按钮 */
.ComButtonLeft {
  float: left;
  padding-left: 10px;
}
/* 右侧按钮 */
.ComButtonRight {
  float: right;
  padding-right: 10px;
}
.app-container .pagination {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.pagination {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 100%;
  text-align: right;
}
/* 搜索区域 end*/
.container {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 52px 10px 60px 10px;
  background-color: #ffffff;
}
/* 分页样式 */
.pagination {
  position: absolute;
  bottom: 15px;
  right: 20px;
}
/* 改变表体间隔 */
.el-table td, .el-table th{
  padding: 4px 0 !important;
}
.container_btn{
  width: calc(100% - 20px);
  position:absolute;
  top:10px;
  left:10px;
}
/* 定位弹出框位置 */
.showDialog .el-dialog__wrapper {
  position: absolute !important;
}
/* 修改饿了么表单样式 */
/* .el-input__inner{
  height: 35px !important;
  width: 25rem !important;
} */

.el-textarea{
  margin-left: 0px !important;
}
.container_btn .tac{
  margin-left: 10px;
  float: right;
  margin-top: 12px
}
.common_blog{
  padding-top: 80px;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  min-height:  775px;
  
}
.common_blog .el-dialog__wrapper {
  top:61px;
}
.common_blog .is-fullscreen{
  background-color: #f3f3f3;
}
.common_blog .el-dialog__header{
  padding:0 !important;
}
.common_blog .dialog-blog{
  width: 1000px;
  margin: 0 auto;
  position: relative;
  min-height:  675px;
  background-color: #ffffff;
  box-shadow:  0 2px 12px 0 rgba(0,0,0,.1);
  padding: 50px 20px;
}
.common-font-style{
  font-family: “Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 200;
}


/* 富文本样式 */
.ql-container.ql-snow{
  min-height: 300px!important;
}
.ql-container strong{
  font-weight: bold;
}
.ql-container em{
  font-style: italic;
}

/* 全局样式 end*/

/* 全局样式v2 start*/
.app-container2{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 61px;
  height: calc(100% - 61px);
  width: calc(100% - 20px);
  position: relative;
}



/* 全局样式v2 end*/
