<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.system.sysAutoFieldParam.dao.SysAutoFieldParamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.system.sysAutoFieldParam.entity.SysAutoFieldParam">
        <id column="id" property="id" />
        <result column="layout_type" property="layoutType" />
        <result column="param_id" property="paramId" />
        <result column="title" property="title" />
        <result column="type" property="type" />
        <result column="value" property="value" />
        <result column="param_index" property="paramIndex" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                id,                layout_type,                param_id,                title,                type,                value    ,index</sql>

    <select id="queryByCondition" parameterType="com.dhlg.utils.Parameter.Parameter" resultType="com.dhlg.module.system.sysAutoFieldParam.entity.SysAutoFieldParam">
        select * from sys_auto_field_param
        <trim prefix="where" prefixOverrides="and">
            <if test="parameter.condition != null and parameter.condition.queryContent !=null and parameter.condition.queryContent !='' ">
                CONCAT(
                            ,layout_type
                            ,param_id
                            ,title
                            ,type
                            ,value
                ) like concat('%',#{parameter.condition.queryContent},'%')
            </if>
        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">

        select * from sys_auto_field_param
        <trim prefix="where" prefixOverrides="and">


                    <if test=" parameter.layoutType !=null and parameter.layoutType !='' ">
                        and layout_type like concat('%',#{parameter.layoutType},'%')
                    </if>


                    <if test=" parameter.paramId !=null and parameter.paramId !='' ">
                        and param_id like concat('%',#{parameter.paramId},'%')
                    </if>


                    <if test=" parameter.title !=null and parameter.title !='' ">
                        and title like concat('%',#{parameter.title},'%')
                    </if>


                    <if test=" parameter.type !=null and parameter.type !='' ">
                        and type like concat('%',#{parameter.type},'%')
                    </if>


                    <if test=" parameter.value !=null and parameter.value !='' ">
                        and value like concat('%',#{parameter.value},'%')
                    </if>

        </trim>
        order by id desc
    </select>

    <select id="findParamList" parameterType="String" resultType="com.dhlg.module.system.sysAutoFieldParam.entity.SysAutoFieldParam">
        SELECT p.*,f.field_name FROM sys_auto_field_param p LEFT JOIN sys_auto_field f on p.`value` = f.id where  p.param_id = #{id} and p.layout_type = #{layoutType} order by param_index
    </select>
</mapper>
