<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.system.yyyy.dao.YyyyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.system.yyyy.entity.Yyyy">
        <result column="status" property="status" />
        <result column="yyyccccc" property="yyyccccc" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="user_id" property="userId" />
        <result column="update_time" property="updateTime" />
        <result column="id" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
status,yyyccccc,update_user,create_time,create_user,user_id,update_time,id    </sql>

    <select id="queryByCondition" parameterType="com.dhlg.module.system.yyyy.entity.Yyyy" 
    resultType="com.dhlg.module.system.yyyy.entity.Yyyy">
        select *
        ,t5.user_name
        from yyyy t
        left join sys_user t5 on t.user_id = t5.id
        <trim prefix="where" prefixOverrides="and">
            <if test="params.yyyccccc != null and params.yyyccccc !=''">
                and t.yyyccccc like concat('%',#{params.yyyccccc},'%')
            </if>
            <if test="params.status != null and params.status !=''">
                and t.status = #{params.status}
            </if>
            <if test="params.userId != null and params.userId !=''">
                and t.user_id = #{params.userId}
            </if>
        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from yyyy
    </select>

</mapper>
