/*布局样式*/
/*主布局--上下布局*/
.app-container{
  height: 100%;
  width: calc(100% - 20px);
  margin: 10px 10px 0 10px;
  display:flex;
  flex-direction: column;
  position: relative;
}
/*查询*/
.app-container .container-query{
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0.2,0,0.2);
  background: #fff;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  padding-top: 10px;
  margin-bottom: 10px;
}
/* 去除滚动条 */
.app-container .el-scrollbar__bar{
  display: none;
}
.app-container .el-scrollbar__wrap{
  overflow-x: hidden;
}
.container-btn-left{
  display: flex;
  justify-content:flex-start;
}
.container-btn-right{
  display: flex;
  justify-content:flex-end;
  flex: 1;
}
/*查询页表格*/
.container-table{
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0.2,0,0.2);
  background: #fff;
  padding-top: 5px;
}

/*按钮*/
.container-btn{
  margin: 0 10px;
  display: flex;
  flex-direction: row;
}
/*表格*/
.common-table-style{
  margin: 10px;
}
.pagination{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}
/*主布局--左右布局 start*/
.app-container-tree{
  height: 100%;
  margin: 10px 10px 0 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.app-container-tree .tree-area{
  width: 300px;
  background: #fff;
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0.2,0,0.2);
  background: #fff;
}
.app-container-tree .table-area{
  width: 100%;
  height: calc(100% - 10px);
  display: flex;
  margin-left: 10px;
  flex: 1;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0.2,0,0.2);
  background: #fff;
}
/*主布局--左右布局 end*/
/*弹出框*/
/* .show-dialog{
  height: 100%;
  width: 100%;
  position:absolute;
} */
.show-dialog >.el-dialog__wrapper {
  position: absolute !important;
  border-radius: 5px;
}
.show-dialog .el-dialog__header{
  padding: 0;
}
.show-dialog > .el-dialog__wrapper > .el-dialog{
  background-color: #f3f3f3;
}
.show-dialog > .el-dialog__wrapper > .el-dialog > .el-dialog__body{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0.2,0,0.2);
  background: #fff;
}
.show-dialog .dialog-button{
  margin-bottom: 10px;
}
.show-dialog .el-form{
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}
.dialog-form .el-form-item{
  min-width: 300px;
  width: 25%;
}
.dialog-form .el-form-item__content > .el-date-editor{
  width: 100%;
}
