<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.system.sysAutoField.dao.SysAutoFieldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.system.sysAutoField.entity.SysAutoField">
        <id column="id" property="id" />
        <result column="table_id" property="tableId" />
        <result column="field_name" property="fieldName" />
        <result column="field_des" property="fieldDes" />
        <result column="field_length" property="fieldLength" />
        <result column="field_type" property="fieldType" />
        <result column="field_decimal" property="fieldDecimal" />
        <result column="field_isNull" property="fieldIsNull" />
        <result column="field_primary" property="fieldPrimary" />
        <result column="field_index" property="fieldIndex" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                id,                table_id,                field_name,                field_des,                field_length,                field_type,                field_decimal,                field_isNull,                field_primary,                       field_index           </sql>

    <select id="queryByCondition" parameterType="com.dhlg.utils.Parameter.Parameter" resultType="com.dhlg.module.system.sysAutoField.entity.SysAutoField">
        select * from sys_auto_field
        <trim prefix="where" prefixOverrides="and">
            <if test="parameter.condition != null and parameter.condition.queryContent !=null and parameter.condition.queryContent !='' ">
                CONCAT(
                            ,table_id
                            ,field_name
                            ,field_des
                            ,field_type
                            ,field_isNull
                            ,field_primary
                            ,field_index
                ) like concat('%',#{parameter.condition.queryContent},'%')
            </if>
        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">

        select * from sys_auto_field
        <trim prefix="where" prefixOverrides="and">


                    <if test="parameter.tableId  != null and parameter.tableId.size() > 0">
                        and table_id  in
                        <foreach collection="parameter.tableId " index="index" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>


                    <if test="parameter.fieldName  != null and parameter.fieldName.size() > 0">
                        and field_name  in
                        <foreach collection="parameter.fieldName " index="index" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>


                    <if test=" parameter.fieldDes !=null and parameter.fieldDes !='' ">
                        and field_des like concat('%',#{parameter.fieldDes},'%')
                    </if>


                        <if test="parameter.fieldLength != null and parameter.fieldLength .size() == 2">
                            and field_length between
                            <foreach collection="parameter.fieldLength" index="index" item="item" open=" " separator=" and " close=" ">
                                #{item}
                            </foreach>
                        </if>



                    <if test=" parameter.fieldType !=null and parameter.fieldType !='' ">
                        and field_type like concat('%',#{parameter.fieldType},'%')
                    </if>


                        <if test="parameter.fieldDecimal != null and parameter.fieldDecimal .size() == 2">
                            and field_decimal between
                            <foreach collection="parameter.fieldDecimal" index="index" item="item" open=" " separator=" and " close=" ">
                                #{item}
                            </foreach>
                        </if>



                    <if test=" parameter.fieldIsNull !=null and parameter.fieldIsNull !='' ">
                        and field_isNull like concat('%',#{parameter.fieldIsNull},'%')
                    </if>


                    <if test=" parameter.fieldPrimary !=null and parameter.fieldPrimary !='' ">
                        and field_primary like concat('%',#{parameter.fieldPrimary},'%')
                    </if>


                    <if test=" parameter.fieldIndex !=null and parameter.fieldIndex !='' ">
                        and field_index like concat('%',#{parameter.fieldIndex},'%')
                    </if>



        </trim>
        order by id desc
    </select>

</mapper>
