<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.test.tSendMessageFile.dao.TSendMessageFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.test.tSendMessageFile.entity.TSendMessageFile">
        <result column="demand_number" property="demandNumber" />
        <result column="update_time" property="updateTime" />
        <result column="ios_version" property="iosVersion" />
        <result column="update_user" property="updateUser" />
        <result column="create_user" property="createUser" />
        <result column="is_create" property="isCreate" />
        <result column="demand_name" property="demandName" />
        <result column="android_version" property="androidVersion" />
        <result column="is_delete" property="isDelete" />
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="code_author" property="codeAuthor" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
demand_number,update_time,ios_version,update_user,create_user,is_create,demand_name,android_version,is_delete,id,create_time    </sql>

    <select id="queryByCondition" parameterType="com.dhlg.module.test.tSendMessageFile.entity.TSendMessageFile" 
    resultType="com.dhlg.module.test.tSendMessageFile.entity.TSendMessageFile">
        select t.*
        from t_send_message_file t
        <trim prefix="where" prefixOverrides="and">
            <if test="params.demandNumber != null and params.demandNumber !=''">
                and t.demand_number like concat('%',#{params.demandNumber},'%')
            </if>
            <if test="params.demandName != null and params.demandName !=''">
                and t.demand_name like concat('%',#{params.demandName},'%')
            </if>
        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from t_send_message_file
    </select>

</mapper>
