package $!{packageName}.module.$!{projectName}.$!{domainName}.entity;

import com.baomidou.mybatisplus.annotation.IdType;
import java.util.Date;
import java.math.BigDecimal;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableField;
import java.io.Serializable;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
import com.baomidou.mybatisplus.annotation.TableName;
import com.fasterxml.jackson.annotation.JsonFormat;
import com.baomidou.mybatisplus.annotation.TableId;

/**
 * <p>
 *
 * </p>
 *
 * @author xu
 * @since 
 */
@Data
@EqualsAndHashCode(callSuper = false)
@Accessors(chain = true)
@TableName("$!{tableName}")
public class $!{DomainName} implements Serializable {

    private static final long serialVersionUID = 1L;

     /**
     *id
     */
##    @TableId(value = "id", type = IdType.AUTO)
##    private Integer id;
    @TableId("id")
    private String id;

#foreach ($table in $tableClassList)
    #if($!table.fieldName !=  'id')
    /**
     * ${table.fieldComment}
     */
    #if($!table.attrType ==  'Date')
    @JsonFormat(pattern="yyyy-MM-dd HH:mm:ss",timezone="GMT+8")
    #end
    @TableField("${table.fieldName}")
    private ${table.attrType} ${table.fieldName};
    #end
#end

}
