package $!{packageName}.module.$!{projectName}.$!{domainName}.service.impl;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.metadata.IPage;
import $!{packageName}.module.$!{projectName}.$!{domainName}.entity.$!{DomainName};
import $!{packageName}.module.$!{projectName}.$!{domainName}.dao.$!{DomainName}Mapper;
import $!{packageName}.module.$!{projectName}.$!{domainName}.service.I$!{DomainName}Service;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import $!{packageName}.utils.common.Dictionaries;
import $!{packageName}.utils.common.Parameter;
import $!{packageName}.utils.common.Result;
import $!{packageName}.utils.common.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;

/**
 * <p>
 *  服务实现类
 * </p>
 *
 * @author xu
 * @since 2020-05-05
 */
@Service
public class $!{DomainName}ServiceImpl extends ServiceImpl<$!{DomainName}Mapper, $!{DomainName}> implements I$!{DomainName}Service {

    @Autowired
    $!{DomainName}Mapper doMapper;

    @Override
    public Result customSaveOrUpdate($!{DomainName} $!{domainName}) {
        //判断新增还是修改
        if (!StringUtils.isBlank($!{domainName}.getId())) {
            //新增
            if(!updateById($!{domainName})){
                return new Result("500","", Dictionaries.UPDATE_FAILED);
            }
            return new Result("200","",Dictionaries.UPDATE_SUCCESS);
        }

        if (!save($!{domainName})){
            return new Result("500","", Dictionaries.SAVE_FAILED);
        }
        return new Result("200","",Dictionaries.SAVE_SUCCESS);
    }

    @Override
    public Result delete(String id) {
        if (!removeById(id)){
            return new Result("500","", Dictionaries.DELETE_FAILED);
        }
        return new Result("200","",Dictionaries.DELETE_SUCCESS);
    }

    @Override
    public Result deleteBatch(List<String> ids) {
        if (!removeByIds(ids)){
            return new Result("500","", Dictionaries.DELETE_FAILED);
        }
        return new Result("200","",Dictionaries.DELETE_SUCCESS);
    }

    @Override
    public Result queryByCondition(Parameter parameter) {
        parameter.setDefault();
        IPage<$!{DomainName}> dataList = doMapper.queryByCondition(parameter.getPage(), parameter);
        return new Result(dataList);
    }

    @Override
    public Result listFieldQuery(Map<String, Object> params) {
        Long number = Long.valueOf(String.valueOf(params.getOrDefault("number", 1)));
        Long size = Long.valueOf(String.valueOf(params.getOrDefault("size", 10)));
        IPage<$!{DomainName}> dataList = doMapper.listFieldQuery(new Page(number, size), params);
        return new Result("200", dataList);
    }
}
