<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.system.sysAutoParam.dao.SysAutoParamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.system.sysAutoParam.entity.SysAutoParam">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="layout_type" property="layoutType" />
        <result column="show_edit" property="showEdit" />
        <result column="show_page" property="showPage" />
        <result column="show_query" property="showQuery" />
        <result column="show_table" property="showTable" />
        <result column="table_id" property="tableId" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                create_time, create_user,id,  layout_type, show_edit,show_page,show_query,show_table  ,tableId ,update_time,update_user</sql>

    <select id="queryByCondition" parameterType="com.dhlg.common.utils.Parameter.Parameter" resultType="com.dhlg.module.system.sysAutoParam.entity.SysAutoParam">
        select * from sys_auto_param
        <trim prefix="where" prefixOverrides="and">
            <if test="parameter.condition != null and parameter.condition.queryContent !=null and parameter.condition.queryContent !='' ">
                CONCAT(
                            ,create_user
                            ,layout_type
                            ,show_edit
                            ,show_page
                            ,show_query
                            ,show_table
                ) like concat('%',#{parameter.condition.queryContent},'%')
            </if>
        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">

        select * from sys_auto_param
        <trim prefix="where" prefixOverrides="and">

                        <if test="parameter.createTime != null and parameter.createTime .size() == 2">
                            and create_time between
                            <foreach collection="parameter.createTime" index="index" item="item" open=" " separator=" and " close=" ">
                                #{item}
                            </foreach>
                        </if>



                    <if test=" parameter.createUser !=null and parameter.createUser !='' ">
                        and create_user like concat('%',#{parameter.createUser},'%')
                    </if>



                    <if test=" parameter.layoutType !=null and parameter.layoutType !='' ">
                        and layout_type like concat('%',#{parameter.layoutType},'%')
                    </if>


                    <if test=" parameter.showEdit !=null and parameter.showEdit !='' ">
                        and show_edit like concat('%',#{parameter.showEdit},'%')
                    </if>


                    <if test=" parameter.showPage !=null and parameter.showPage !='' ">
                        and show_page like concat('%',#{parameter.showPage},'%')
                    </if>


                    <if test=" parameter.showQuery !=null and parameter.showQuery !='' ">
                        and show_query like concat('%',#{parameter.showQuery},'%')
                    </if>


                    <if test=" parameter.showTable !=null and parameter.showTable !='' ">
                        and show_table like concat('%',#{parameter.showTable},'%')
                    </if>

        </trim>
        order by id desc
    </select>
</mapper>
