<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="$!{projModel.packageName}.module.$!{projModel.projectName}.$!{projModel.tableName}.dao.$!{projModel._TableName}Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="$!{projModel.packageName}.module.$!{projModel.projectName}.$!{projModel.tableName}.entity.$!{projModel._TableName}">
        #foreach ($item in $autoFieldList)
        <result column="$!{item.fieldName}" property="$!{item.fieldNameHump}" />
        #end
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         #foreach ($item in $autoFieldList)${item.fieldName}#if($foreach.hasNext),#end#end
    </sql>

    <select id="queryByCondition" parameterType="$!{projModel.packageName}.module.$!{projModel.projectName}.$!{projModel.tableName}.entity.$!{projModel._TableName}" 
    resultType="$!{projModel.packageName}.module.$!{projModel.projectName}.$!{projModel.tableName}.entity.$!{projModel._TableName}">
        select * from $!{projModel.table_name}
        <trim prefix="where" prefixOverrides="and">
        #foreach ($item in $queryList)
        #if($!item.type ==  '1')
            <if test="params.$!{item.fieldNameHump} != null and params.$!{item.fieldNameHump} !=''">
                and $!{item.fieldName} like concat('%',#{params.$!{item.fieldNameHump}},'%')
            </if>
        #end
        #if($!item.type ==  '2')
            <if test="params.$!{item.fieldNameHump} != null and params.$!{item.fieldNameHump} !=''">
                and $!{item.fieldName} = #{params.$!{item.fieldNameHump}}
            </if>
        #end
        #if($!item.type ==  '3')
            <if test="params.$!{item.fieldNameHump}From != null">
                and $!{item.fieldName} &gt;= #{params.$!{item.fieldNameHump}From}
            </if>
            <if test="params.$!{item.fieldNameHump}To != null">
                and $!{item.fieldName} &lt; DATE_ADD(#{params.$!{item.fieldNameHump}To}, INTERVAL 1 DAY)
            </if>
        #end
        #end
        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from $!{projModel.table_name}
    </select>

</mapper>
