package $!{projModel.packageName}.module.$!{projModel.projectName}.$!{projModel.tableName}.entity;

import java.util.Date;
import java.math.BigDecimal;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableField;
import java.io.Serializable;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
import com.baomidou.mybatisplus.annotation.TableName;
import com.fasterxml.jackson.annotation.JsonFormat;


@Data
@EqualsAndHashCode(callSuper = false)
@Accessors(chain = true)
@TableName("$!{projModel.table_name}")
public class $!{projModel._TableName} implements Serializable {

    private static final long serialVersionUID = 1L;

        /**
        *id
        */
        @TableId("id")
        private String id;

    #foreach ($item in $autoFieldList)
        #if($!item.fieldName !=  'id')
        /**
         * ${item.fieldDes}
         */
        #if($!item.fieldTypeToJava ==  'Date')
        @JsonFormat(pattern="yyyy-MM-dd HH:mm:ss",timezone="GMT+8")
        #end
        @TableField("${item.fieldName}")
        private $!{item.fieldTypeToJava} ${item.fieldNameHump};
        #if($item.fieldIsBeRelated == '1'&&item.fieldRelatedFieldShow)
        @TableField(exist = false)
        private String ${item.fieldRelatedFieldShow}
        #end
        #end
    #end
    #foreach ($item in $queryList)
        #if($!item.type ==  '3')
        /**
         * 时间区域start
         */
        @JsonFormat(pattern="yyyy-MM-dd",timezone="GMT+8")
        @TableField(exist = false)
        private Date ${item.fieldNameHump}From;

        @JsonFormat(pattern="yyyy-MM-dd",timezone="GMT+8")
        @TableField(exist = false)
        private Date ${item.fieldNameHump}To;
        #end
    #end
}
