<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.familyTree.tableUser.dao.TableUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.familyTree.tableUser.entity.TableUser">
        <result column="user_id" property="userId" />
        <result column="id" property="id" />
        <result column="table_id" property="tableId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
user_id,id,table_id    </sql>

    <select id="queryByCondition" parameterType="com.dhlg.module.familyTree.tableUser.entity.TableUser" 
    resultType="com.dhlg.module.familyTree.tableUser.entity.TableUser">
        select t.*
        from fa_table_user t
        <trim prefix="where" prefixOverrides="and">
            <if test="params.tableId != null and params.tableId !=''">
                and t.table_id = #{params.tableId}
            </if>
            <if test="params.userId != null and params.userId !=''">
                and t.user_id = #{params.userId}
            </if>
        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from fa_table_user
    </select>

</mapper>
