<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.test.sysTestDetail.dao.SysTestDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.test.sysTestDetail.entity.SysTestDetail">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="status" property="status" />
        <result column="money" property="money" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                id,                parent_id,                name,                status,                money    </sql>

    <select id="queryByCondition" parameterType="com.dhlg.utils.common.Parameter.Parameter" resultType="com.dhlg.module.test.sysTestDetail.entity.SysTestDetail">
        select * from sys_test_detail
        <trim prefix="where" prefixOverrides="and">
            <if test="parameter.condition != null and parameter.condition.parentId !=null and parameter.condition.parentId !='' ">
                parent_id =#{parameter.condition.parentId}
            </if>
        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">

        select * from sys_test_detail
        <trim prefix="where" prefixOverrides="and">


                    <if test="parameter.parentId  != null and parameter.parentId.size() > 0">
                        and parent_id  in
                        <foreach collection="parameter.parentId " index="index" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>


                    <if test=" parameter.name !=null and parameter.name !='' ">
                        and name like concat('%',#{parameter.name},'%')
                    </if>


                    <if test="parameter.status  != null and parameter.status.size() > 0">
                        and status  in
                        <foreach collection="parameter.status " index="index" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>



        </trim>
        order by id desc
    </select>

    <delete id="deleteByParentId" parameterType="string">
        delete from sys_test_detail where parent_id=#{parentId}
    </delete>

</mapper>
