<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.familyTree.faUser.dao.FaUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.familyTree.faUser.entity.FaUser">
        <result column="status" property="status" />
        <result column="create_user" property="createUser" />
        <result column="wechat_number" property="wechatNumber" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="gender" property="gender" />
        <result column="spouse_id" property="spouseId" />
        <result column="create_time" property="createTime" />
        <result column="parent_id" property="parentId" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="real_name" property="realName" />
        <result column="signature" property="signature" />
        <result column="head_url" property="headUrl" />
        <result column="live_state" property="liveState" />
        <result column="id" property="id" />
        <result column="fa_table_id" property="faTableId" />
        <result column="password" property="password" />
        <result column="birthday_date" property="birthdayDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
status,create_user,wechat_number,name,phone,address,gender,spouse_id,create_time,parent_id,update_time,update_user,real_name,signature,head_url,live_state,id,fa_table_id,password,birthday_date    </sql>

    <select id="queryByCondition" parameterType="com.dhlg.module.familyTree.faUser.entity.FaUser" 
    resultType="com.dhlg.module.familyTree.faUser.entity.FaUser">
        select *
        from fa_user t
        <trim prefix="where" prefixOverrides="and">
            <if test="params.realName != null and params.realName !=''">
                and t.real_name like concat('%',#{params.realName},'%')
            </if>
            <if test="params.phone != null and params.phone !=''">
                and t.phone like concat('%',#{params.phone},'%')
            </if>
            <if test="params.gender != null and params.gender !=''">
                and t.gender = #{params.gender}
            </if>
        </trim>
    </select>

    <select id="listFieldQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from fa_user
    </select>

</mapper>
